p > code, li > code {
  background: #f1f1f1;
  padding: 2px;
  border: 1px solid #d5d5d5;
}

.highlight > pre, .highlight > div {
  padding: 2px 0 3px;
  overflow: auto;
  border-radius: 3px;
}

.highlight > pre {
  padding-left: 8px;
}

code > span > span {
  padding-right: 8px;
}

.highlight {
  margin-bottom: 20px;

  table td {
    pre {
      margin: 0;

      code > span {
        display: flex;
      }
    }
  }
}
