@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat LightItalic'),
       local('Montserrat-LightItalic'),
       url(/fonts/Montserrat-LightItalic.woff2) format('woff2'),
       url(/fonts/Montserrat-LightItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'),
       local('Montserrat-Light'),
       url(/fonts/Montserrat-Light.woff2) format('woff2'),
       url(/fonts/Montserrat-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Italic'),
       local('Montserrat-Italic'),
       url(/fonts/Montserrat-Italic.woff2) format('woff2'),
       url(/fonts/Montserrat-Italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'),
       local('Montserrat-Regular'),
       url(/fonts/Montserrat-Regular.woff2) format('woff2'),
       url(/fonts/Montserrat-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'),
       local('Montserrat-SemiBold'),
       url(/fonts/Montserrat-SemiBold.woff2) format('woff2'),
       url(/fonts/Montserrat-SemiBold.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'),
       local('Montserrat-ExtraBold'),
       url(/fonts/Montserrat-ExtraBold.woff2) format('woff2'),
       url(/fonts/Montserrat-ExtraBold.ttf) format('ttf');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inconsolata Regular'),
       local('Inconsolata-Regular'),
       url(/fonts/Inconsolata-Regular.woff2) format('woff2'),
       url(/fonts/Inconsolata-Regular.ttf) format('ttf');
}
