body {
  background-color: $theme-color;
}

.wrapper {
  background-color: $theme-inverse-color;
}

.container {
  width: 100%;
  padding: 0 15px;

  @media screen and (min-width: 760px) {
    width: 760px;
    margin: 0 auto;
  }
}

main {
  padding-bottom: 20px;

  p a, li a {
    border-bottom: 1px solid lighten($theme-color, 60%);

    &:hover, &:focus, &:active {
      border-bottom: 1px solid $theme-color;
    }
  }

  hr {
    margin-top: 40px;
    border: 0;
    border-top: 1px solid lighten($theme-color, 90%);
  }

  article iframe {
    padding-bottom: 20px;
  }

  article .list-image {
    width: 100%;
    margin: 0 0 20px;
  }

  p img, .videogif, .itchio, .twitter-tweet {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @media screen and (min-width: 760px) {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    iframe {
      padding-bottom: 0;
    }
  }
}

.site-description {
  text-align: center;
  margin: 80px 0 120px;
  font-size: 16px;
}

.title {
  font-size: 32px;
  margin: 40px 0 2px;
}

.text-center {
  text-align: center;
}

.single {
  padding-bottom: 40px;
}

@each $type, $color in (
  "info": #d1ecf1,
  "warning": #fff3cd,
  "danger": #f8d7da,
) {
  .tip.#{$type} {
    background-color: $color;
    border: 1px solid darken($color, 10%);
    border-radius: 4px;
    padding: 15px 20px;
    color: darken($color, 60%);

    a {
      border-bottom: 1px solid darken($color, 30%);

      &:hover, &:focus, &:active {
        color: darken($color, 70%);
        border-bottom: 1px solid darken($color, 40%);
      }
    }
  }
}
