.header-group {
  .header-logo-container {
    margin: 0 auto;
    padding: 50px 0 25px;
    width: 120px;
    height: 195px;

    .header-logo-circle {
      border: 5px solid $theme-color;
      border-radius: 50%;
      padding: 5px;
      width: 120px;
      height: 120px;
    }
  }

  .header-title {
    margin: 10px 0 5px;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
  }
}
