.header-group {
  .header-logo-container {
    width: 120px;
    margin: 0 auto;
    padding: 50px 0 25px;

    .header-logo-circle {
      display: block;
      width: 120px;
      height: 120px;
      padding: 5px;
      border: 5px solid $theme-color;
      border-radius: 50%;
    }
  }

  .header-title {
    margin: 0 0 5px;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }
}
