.language-selector {
  text-align: right;
  margin: 0 4px;

  .language-item {
    display: inline-block;
    background-color: $theme-color;
    padding: 2px 10px 5px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: 900;
    color: $theme-inverse-color;
  }
}
