body {
  background-color: $theme-color;
}

.wrapper {
  background-color: $theme-inverse-color;
}

.container {
  margin: 0 auto;
  width: 730px;
  padding: 0 15rem;

  @media screen and (max-width: 730px) {
    width: 100%;
  }
}

.language-selector {
  text-align: right;
  margin: 0 4rem;

  .language-item {
    display: inline-block;
    background-color: $theme-color;
    padding: 2rem 10rem 5rem 10rem;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    font-weight: 800;
    color: $theme-inverse-color;
  }
}

.header-group {
  .header-logo-container {
    margin: 50rem auto 25rem;
    width: 120rem;
    height: 120rem;

    .header-logo-circle {
      border: 5rem solid $theme-color;
      border-radius: 50%;
      padding: 5rem;
      width: 120rem;
      height: 120rem;
    }
  }

  .header-title {
    margin: 10rem 0 5rem;
    font-weight: 800;
    font-size: 32rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.main-navigation {
  text-align: center;
  padding: 8rem 0;

  a {
    padding: 8rem 16rem;
    border-bottom: 1rem solid lighten($theme-color, 70%);

    &:hover, &:focus, &:active, &.active {
      border-bottom: 1rem solid $theme-color;
    }
  }
}

.site-description {
  text-align: center;
  margin: 80rem 0 120rem;
  font-size: 16rem;
}

footer {
  background-color: $theme-color;
  text-align: center;

  .footer-navigation {
    padding: 40rem 0;

    a {
      color: $theme-inverse-color;

      .inline-svg {
        margin: 0 5rem;
      }
    }
  }
}

.inline-svg {
  display: inline-block;
  height: 40rem;
  width: 40rem;
}

.publish {
  font-size: 12.8rem;
  color: lighten($theme-color, 40%);
  margin-bottom: 32rem;
}

hr {
  margin-top: 40px;
  border: 0;
  border-top: 1rem solid lighten($theme-color, 90%);
}
