.main-navigation {
  text-align: center;
  padding: 8px 0;

  a {
    padding: 8px 16px;
    border-bottom: 1px solid lighten($theme-color, 70%);

    &:hover, &:focus, &:active, &.active {
      border-bottom: 1px solid $theme-color;
    }
  }
}
