.main-navigation {
  text-align: center;
  padding: 8rem 0;

  a {
    padding: 8rem 16rem;
    border-bottom: 1rem solid lighten($theme-color, 70%);

    &:hover, &:focus, &:active, &.active {
      border-bottom: 1rem solid $theme-color;
    }
  }
}
