#search {
  --pagefind-ui-scale: 0.7;
  --pagefind-ui-font: $font-family-sans-serif;
  --pagefind-ui-border-radius: 0px;
  --pagefind-ui-border-width: 1px;
}

#search {
  width: 220px;
  margin: auto;


  .pagefind-ui__search-input {
    border: none;
    border-bottom: 1px solid lighten($theme-color, 70%);
    font-weight: 400;
    margin-bottom: 10px;

    &:hover, &:focus, &:active, &.active {
      outline: none;
      border-bottom: 1px solid $theme-color;
    }
  }

  .pagefind-ui__drawer {
    background-color: $theme-inverse-color;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    border: 1px solid $theme-color;
    padding: 0 10px;
    width: 90vw;

    @media screen and (min-width: 760px) {
      width: 680px;
    }

    .pagefind-ui__results-area {
      margin: 0;
    }

    .pagefind-ui__result-link::before {
      content: "\21b3 ";
    }

    .pagefind-ui__result-link:focus {
      border-bottom: 1px solid lighten($theme-color, 70%);
    }
  }
}
