.tag-group {
  text-align: center;
  margin: 40rem 0;

  a {
    font-size: 24rem;
    line-height: 2;
    margin: 0 15rem;
    white-space: nowrap;

    &:hover, &:focus, &:active {
      font-weight: 600;
    }
  }
}
