html {
  font-size: 1px;  /* for using px units */
}

body {
  font-family: $font-family-sans-serif;
  font-size: 14.4px;
  font-weight: 400;
  line-height: 1.5;
  color: lighten($theme-color, 15%);
}

pre, code, kbd, samp {
  font-family: $font-family-monospace;
}

b, strong {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  color: $theme-color;
  line-height: 1.2;
  font-weight: 700;
  margin: 24px 0 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4, h5, h6 {
  font-size: 20px;
}

p {
  margin-bottom: 16px;
}
