html {
  font-size: 1px;  /* for using REM units */
}

body {
  font-family: $font-family-sans-serif;
  font-size: 14.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: lighten($theme-color, 15%);
}

pre, code, kbd, samp {
  font-family: $font-family-monospace;
}


h1, h2, h3, h4, h5, h6 {
  color: $theme-color;
  line-height: 1.2;
}

h1 {
  font-size: 32rem;
  margin: 40rem 0 2rem;
}

p {
  margin-bottom: 16rem;
}
