// theme base preparation
@import "fonts";
@import "normalize";
@import "reset";
@import "code";

// variable overrides
$theme-color: {{ default "#000000" .Site.Params.themeColor }};
$theme-inverse-color: {{ default "#ffffff" .Site.Params.themeInverseColor }};

// theme styles
@import "variables";
@import "typography";
@import "global";
@import "language";
@import "header";
@import "navigation";
@import "publish";
@import "footer";
@import "svg";
@import "license";
@import "taxonomy";
@import "pagination";
@import "curriculum";
