<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "meta" . }}

    {{ block "jsonLD" . }}
    {{ end }}

    <!-- Page title -->
    <title>{{ .Title }} - {{ .Site.Title }}</title>

    <!-- styles -->
    {{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | css.Sass | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

    {{ block "headAdditional" . }}
    {{ end }}
  </head>

  <body class="{{ block "bodyClass" . }}{{ end }}">
    {{ block "body" . }}
      <div class="wrapper">
        {{ partial "language" . }}
        {{ partial "header" . }}
        {{ partial "navigation" . }}
        {{ partial "search" . }}

        <main>
          <div class="container">
            {{ block "main" . }}
            {{ end }}
          </div>
        </main>

        {{ partial "footer" . }}
      </div>
    {{ end }}

    {{ partial "addthis" . }}

    {{ block "footerJS" . }}
    {{ end }}

    {{ if (findRE "<pre" .Content 1) }}
      <script src="/copy/copy.js"></script>
    {{ end }}

    <script src="/search/elasticlunr.min.js"></script>
    <script src="/search/search.js"></script>
    <script>
      loadSearch({{ with .Site.GetPage "/" }}{{ with .OutputFormats.Get "json" }}'{{ .Permalink }}'{{ end }}{{ end }});
    </script>
  </body>
</html>
