<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "meta" . }}

    {{ block "jsonLD" . }}
    {{ end }}

    <!-- Page title -->
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>

    <!-- styles -->
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    {{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | css.Sass | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

    {{ block "headAdditional" . }}
    {{ end }}
  </head>

  <body class="{{ block "bodyClass" . }}{{ end }}">
    {{ block "body" . }}
      <div class="wrapper">
        {{ partial "language" . }}
        {{ partial "header" . }}
        {{ partial "navigation" . }}

        <div class="container">
          <div id="search"></div>
        </div>

        <main>
          <div class="container">
            {{ block "main" . }}
            {{ end }}
          </div>
        </main>

        {{ partial "footer" . }}
      </div>
    {{ end }}

    {{ partial "addthis" . }}

    {{ block "footerJS" . }}
    {{ end }}

    {{ if (findRE "<pre" .Content 1) }}
      <script src="/copy/copy.js"></script>
    {{ end }}

    <script src="/pagefind/pagefind-ui.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>
  </body>
</html>
