{{ define "jsonLD" }}
  <script type="application/ld+json">
    {{ partial "person-jsonld" . | safeJS }}
  </script>
{{ end }}

{{ define "bodyClass" }}curriculum{{ end }}

{{ define "body" }}
  {{ partial "language" . }}

  <main>
    <header>
      <h1>
        <a href="{{ "/" | absLangURL  }}">{{ .Params.name }}</a>
      </h1>

      <p>
        {{ .Params.JobTitle }} | <a href="{{ .Params.locationLink }}">{{ .Params.locationName }}</a>
      </p>
    </header>

    <div class="content">
      <div class="left">
        {{ if .Params.contact }}
          <section>
            <h2>{{ i18n "contact" }}</h2>

            {{ range .Params.contact }}
              <p class="contact-item">
                {{ partial "svg" .svg }}

                <a href="{{ .url }}">{{ .display }}</a>
              </p>
            {{ end }}
          </section>
        {{ end }}

        {{ if .Params.languages }}
          <section>
            <h2>{{ i18n "languages" }}</h2>

            {{ .Params.languages | markdownify }}
          </section>
        {{ end }}

        {{ if .Params.techSkills }}
          <section>
            <h2>{{ i18n "techskills" }}</h2>

            {{ .Params.techSkills | markdownify }}
          </section>
        {{ end }}

        {{ if .Params.softSkills }}
          <section>
            <h2>{{ i18n "softskills" }}</h2>

            {{ .Params.softSkills | markdownify }}
          </section>
        {{ end }}

        {{ if .Params.openSource }}
          <section>
            <h2>{{ i18n "opensource" }}</h2>

            {{ .Params.openSource | markdownify }}
          </section>
        {{ end }}
      </div>

      <div class="right">
        {{ if .Params.profile }}
          <section>
            <h2>{{ i18n "profile" }}</h2>

            <p>{{ .Params.profile | markdownify }}</p>
          </section>
        {{ end }}

        {{ if .Params.employment }}
          <section>
            <h2>{{ i18n "employment" }}</h2>

            {{ .Params.employment | markdownify }}
          </section>
        {{ end }}

        {{ if .Params.education }}
          <section>
            <h2>{{ i18n "education" }}</h2>

            {{ .Params.education | markdownify }}
          </section>
        {{ end }}

        {{ if .Params.community }}
          <section>
            <h2>{{ i18n "community" }}</h2>

            {{ .Params.community | markdownify }}
          </section>
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}
