{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "url": "{{ .Permalink }}",
  "headline": "{{ .Title }}",
  "description": "{{ .Description }}",
  "datePublished": "{{ .PublishDate.Format "2006-01-02" }}",
  {{ if .Params.Tags }}
    "keywords": "{{ delimit .Params.Tags "," }}",
  {{ end }}
  {{ if .Params.shareImage }}
    "image": "{{ .Params.shareImage | absURL }}",
  {{ else }}
    "image": "{{ .Site.Params.siteLogo | absURL }}",
  {{ end }}
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author.name }}",
    {{ with .Site.GetPage "/about" }}
      "url": "{{ .Permalink }}"
    {{ end }}
  }
}
