{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "url": "{{ .Permalink }}",
  "headline": "{{ .Title }}",
  "description": "{{ .Description }}",
  "datePublished": "{{ .PublishDate.Format "2006-01-02" }}",
  {{ if .Params.Tags }}
    "keywords": "{{ delimit .Params.Tags "," }}",
  {{ end }}
  {{ if .Params.images }}
  "image": "{{ index .Params.images 0 | absURL }}",
  {{ end }}
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Author.name }}",
    {{ with .Site.GetPage "/curriculum" }}
      "url": "{{ .Permalink }}"
    {{ end }}
  }
}
